body {
	background-color: #1d2731;
	color: #efefef;
	font-family: "Lato", serif;
	font-weight: 300;
	margin: 0 auto;
}

/* Header */
header {
	background-color: #369ccd;
	margin: 0 auto;
	text-transform: uppercase;
	width: 100%;
}

.logo {
	padding-top: 4px;
	width: 40px;
}

.name-container {
	padding-top: 3px;
	padding-right: 20px;
	text-align: right;
}

.name {
	font-size: 1.7em;
	font-weight: 900;
	margin: 0;
}

.last-name {
	font-weight: 100;
}

.identity {
	font-size: 0.7em;
	font-weight: 300;
	margin: 0;
	padding-bottom: 6px;
}

/* Mid profile content */
.mid-profile {
	font-size: 0.9em;
	margin-top: 20px;
}

.prof-pic {
	display: block;
	margin: auto;
	width: 130px;
}

.profile-text {
	margin-top: 15px;
}

.gold {
	color: #e2c029;
}

.sky-blue {
	color: #369ccd;
}

p {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.5px;
}

/* Projects */
h2 {
	font-size: 1.2em;
	font-weight: 300;
	padding-left: 4%;
	padding-bottom: 1%;
}

.card {
	background-color: #1d2731;
}

.card-body {
	padding: 0;
}

h3 {
	font-size: 1.6em;
	font-weight: 200;
	margin: 0;
	padding-top: 5px;
	text-transform: uppercase;
}

.screenshot {
  transition: all .3s ease;
  width: 70%;
}

.screenshot:hover {
	 transform: scale(1.01);
}

a {
	color: #efefef;
	font-size: 0.9em;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #efefef;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Break point for responsivity */
@media (max-width: 991px) {
	h2 {
		font-size: 2em;
		text-align: center;
		padding-left: 0;
	}

	.col-lg-4 {
		padding-bottom: 50px;
		padding-top: 20px;
	}

	.footer {
		position: relative;
	}
}
