body {
	background-color: #1d2731;
	color: #efefef;
	font-family: 'Lato', serif;
	font-weight: 300;
	margin: 0 auto;
}

header {
	background-color: #369ccd;
	margin: 0 auto;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
}

#name-container {
	padding-top: 3px;
	padding-right: 20px;
}

#name {
	font-size: 1.7em;
	font-weight: 900;
	margin: 0;
}

#last-name {
	font-weight: 100;
}

#identity {
	font-size: 0.7em;
	font-weight: 300;
	margin: 0;
	padding-bottom: 6px;
}

#mid-profile {
	font-size: 0.9em;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	width: 50%;
}

#mid-profile img {
	display: block;
	margin: auto;
	max-width: 90%;
}

.gold {
	color: #e2c029;
}

.sky-blue {
	color: #369ccd;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.5px;
}

#featured-work {
	margin: -25px 0;
	padding: 0 40px 10px 40px;
}

h2 {
	font-size: 1.2em;
	font-weight: 300;
	margin: 40px 5% 20px 5%;
}

.project-entry {
	float: left;
	margin: 0;
	text-align: center;
	width: 33.3%;
}

h3 {
	font-size: 1.6em;
	font-weight: 200;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.git-logo {
	height: 16px;
	padding-right: 3px;
	width: 16px;
}

.screenshot {
	max-width: 90%;
    transition: all .5s ease;
}

.screenshot:hover {
	 transform: scale(1.03);
}

a {
	color: #efefef;
	font-size: 0.9em;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.git-link {
	color: #e2c029;
}

.clear {
	clear: both;
}

footer {
	margin-top: 10px;
	padding-bottom: 3px;
	text-align: center;
}

/* Breakpoint for smaller viewport */
@media screen and (max-width: 1000px) {
	.project-entry {
		float: none;
		margin: 10px 0;
		padding: 20px 0;
		width: 100%;
	}

	#featured-work {
		padding: 20px 0 10px 0;
	}

	h2 {
		font-size: 2em;
		text-align: center;
	}

	footer {
		padding-bottom: 10px;
	}
}
